<aside id="paneliz">
    <a href="/" style="text-decoration: none; color: white;"><h5 id="S">Sobre mi</h5></a>
    <hr>
    <a href="/Proyectos" style="text-decoration: none; color: white;"><h5 id="P">Proyectos</h5></a>
    <hr>
    
    <div id="icons">
        <a href="https://www.linkedin.com/in/luis-angel-santillan-lopez-3269aa278" style="text-decoration: none; color: white;"><i class='fab fa-linkedin' id="in" style='font-size:24px'></i></a>
        <a href="https://gitlab.com/2020030296" style="text-decoration: none; color: white;"><i class='fab fa-gitlab' id="git" style='font-size:24px'></i></a>
    </div>
</aside>