<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/inicio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/chayanne.jpg" type="image/x-icon">
    <title>Sobre mi</title>
</head>
<style>
#S{
color: red;
}
#P:hover{
    color: red;
    cursor: pointer;
}
#in:hover{
    color: red;
    cursor: pointer;
}
#git:hover{
    color: red;
    cursor: pointer;
}
</style>
<body>
    <div id="body">
        <%-include('partials/panel.html');%>
        <section id="container">    
        <div id="foto">
            <center>
            <img src="./img/foto2.jpg" alt="">
            </center>
        </div>
        <div id="info">
            <h1>
               <div id="saludo">Hola, </div> 
                <br> Soy Luis Angel Santillan Lopez <h1>
                    <center>
                        <h3> <div class="h3">Desarrollador Back-End</div>
                            </h3>
                    </center>
            
        </div>
        <div id="des">
            <p>
                Hola, soy un desarrollador enfocado en el campo de la programacion web y Orientada a Objetos, con experiencias en proyectos utilizando NODEJS, MySQL, y Java, con indicios de C++, ReactJS y Android Java.
                Entusiasta y emocionado ante los retos que puede traer el campo laboral, con experiencias en trabajos en equipo, con la utilizacion de Github y Gitlab.
            </p>
        </div>
        <div id="cv">
            <h4 id="cv4">
                Ver mi Curriculum Vitae
            </h4>
        </div>
        </section>
        <%-include('partials/pie.html');%> 
    </div>   
</body>
<script>
 let cv4 = document.getElementById('cv4');
 cv4.addEventListener('click', function(){
    window.location='https://drive.google.com/file/d/19gXt8FZy-LW8jOu5iOFOjXqSuuW5Swkq/view?usp=share_link';
 });
</script>
</html>