<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/inicio.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="./img/chayanne.jpg" type="image/x-icon">
    <title>Proyectos</title>
</head>
<style>
    #S:hover{
    color: red;
    cursor: pointer;
    }
    #P{
        color: red;
    }
    #in:hover{
        color: red;
        cursor: pointer;
    }
    #git:hover{
        color: red;
        cursor: pointer;
    }
    </style>
<body>
    <div id="body">
        <%-include ('partials/panel.html');%>
        <div id="container">
            <div id="info" style="width: 100%;">
                <h1 style="text-align: justify; padding: 20px;">Estos son algunos de los proyectos en los que he participado:</h1>
            </div>
            <div id="pl">
                <div id="imagen">
                    <a href="http://padrote.online:6568">
                        <img src="http://padrote.online:6568/img/logo.png" alt="">
                    </a>
                    
                </div>
                <div id="rol">
                    <h5 style="text-align: left;">Mi participacion en este proyecto fue:</h5>
                    <p><ul>
                        <li>Trabajo en el apartado de Back-End</li>
                        <li>Analisis y modelado de la base de datos</li>
                        <li>Implementacion de servicios http client(axios)</li>
                        <li>Encargado de manejar el servidor y subir el sitio en la web</li>
                        <li>Framework utilizado: NODEJS</li>
                        <li><a href="https://gitlab.com/2020030296/papelerialoren.git">Ver repositorio</a></li>
                    </ul></p>
                    
                </div>
            </div>
            <div id="ap">
                <div id="imagen">
                    <a href="https://2020030296.000webhostapp.com/sitio/html/principal.html">
                        <img src="./img/aprende.png" alt="">
                    </a>
                </div>
                <div id="rol" >
                    <h5 style="text-align: left;">Mi participacion en este proyecto fue:</h5>
                    <p>
                        <ul>
                            <li>Trabajo en el apartado de Front-End</li>
                            <li>Realizacion de un sitio web estatico</li>
                            <li>Implementacion de las API's de Google Firebase para <br> Back-End</li>
                            <li>Utilizacion de tecnologias como HTML5, CSS3 y JS</li>
                            <li><a href="https://gitlab.com/2020030296/proyectofinal.git">Ver repositorio</a></li>
                        </ul>
                    </p>
                    
                </div>
                
            </div>
            <div id="jv">
                <div id="imagen">
                    <a href="https://2020030296.000webhostapp.com/juego/index2.html"><img src="./img/jv.png" alt=""></a>
                </div>
                <div id="rol2">
                    <h5 style="text-align: left;">Mi participacion en este proyecto fue:</h5>
                    <p>
                        <ul>
                            <li>Trabajo en la logica del juego</li>
                            <li>Realizacion de las funciones para optimizar el  <br>funcionamiento del juego</li>
                            <li>Implementacion de validaciones para el funcionamiento <br> del juego</li>
                            <li>Utilizacion de JS</li>
                            <li><a href="https://gitlab.com/2020030296/juegodelavida.git">Ver repositorio</a></li>
                        </ul>
                    </p>
                    
                </div>
            </div>
        </div>
        <%-include('partials/pie.html');%>
    </div>
</body>
</html>