*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
#body{
    height: 100%;
}
#paneliz{
    width: 10%;
    float: left;
    background-color: black;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 999;
    color: white;
    text-align: center;
    padding-top: 10%;
    align-items: center;
}
#foto img{
    width: 200px;
    
    border-radius: 100%;
}
#foto{
    width: 40%;
    float: right;
    vertical-align: middle;
}
#info{
    width: 60%;
    color: white;
}
#info h3{
    padding: 2%;
}
.h3{
    width: 60%;
    border: 2px solid red;
    padding: 10px;
    box-shadow: 5px 5px red;
}
#container{
    float: right;
    width: 100%;
    height: 100%;
    
    padding: 10%;
    text-align: center;
    background-image: url(https://www.solofondos.com/wp-content/uploads/2015/11/21omxpw.jpg);
    background-repeat: repeat;
}
#saludo{
    font-weight: bolder;
    text-shadow: 5px 5px red;
}

#icons{
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
}
footer{
    height: 10%;
    width: 100%;
    
    background-color: black;
    color: white;
    text-align: center;
}
#des{
    text-align: justify;
    color: white;
    padding: 5%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#cv{
    color: white;
    padding-left: 50px;
}
#cv h4{
    width: 40%;
    border: 2px solid red;
    padding: 10px;
    box-shadow: 5px 5px red;
}

#cv h4:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

#pl{
    border-radius: 130px;
    margin:50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(140, 2, 2);
    height: 250px;
}
#imagen{
    border-radius: 100%;
    border: 1px solid black;
    width: 250px;
    height: 250px;
    background-color: black;
    display: grid;
    place-items: center;
}
#imagen img{
    width: 200px;
}
#rol{
    color: white;
    font-size: 120%;
    font-family: arial;
    display: grid;
    place-items: center;
    text-align: justify;
    padding-left: 5%;
}

#ap{
    border-radius: 130px;
    margin:50px;
    display: flex;
    flex-wrap: wrap;
    
    background-color: rgb(18, 35, 164);
    height: 250px;
}
#jv{
    border-radius: 130px;
    margin:50px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(226, 220, 18);
    height: 250px;
}
#rol2{
    color: black;
    font-size: 120%;
    font-family: arial;
    display: grid;
    place-items: center;
    text-align: justify;
    padding-left: 5%;
}
@media screen and (max-width:1160px) {
    #container{
        padding: 3%;
    }
    #pl{
        border-radius: 130px;
        margin:50px;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(140, 2, 2);
        height: auto;
    }
    #ap{
        border-radius: 130px;
        margin:50px;
        display: flex;
        flex-wrap: wrap;
        
        background-color: rgb(18, 35, 164);
        height: auto;
    }
    #jv{
        border-radius: 130px;
        margin:50px;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(226, 220, 18);
        height: auto;
    }

}
@media screen and (max-width:900px) {
    #paneliz{
        float:none;
        width: 100%;
        background-color: black;
        height: 5%;
        z-index: 999;
        color: white;
        text-align: center;
        padding-top: 1%;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    #icons a{
        margin: 10px;
    }
    #cv{
        width: 100%;
    }
    #cv h4{
        width: 100%;
    }
    #pl, #ap, #jv, #imagen{
        border-radius: 30px;
    }
    #imagen{
        width: 100%;
    }
    #pl,#ap,#jv{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    #container{
        display: flex;
        flex-direction: column;
    }
    #imagen{
        width: 100%;
        display: grid;
        place-items: center;
    }
    #info{
        width: 100%;
    }
    #cv{
        width: 100%;
    }
    #cv h4{
        width: 100%;
    }
    #pl, #ap, #jv, #imagen{
        border-radius: 30px;
    }

}

